<ion-tabs>

  <ion-tab-bar slot="bottom" class="app-tab-bar">
    <ion-tab-button tab="logs" href="/tabs/logs">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timesheet" href="/tabs/timesheet">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Timesheet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
